.card {
    width: 28em;
    height: 20em;
    display: inline-flex;
    background: #ff0000;
    border-radius: 15px;
    border: 2px solid #000;
}
.card-body h2 {
    font-weight: bold;
    display: block;
}
.card-body footer {
    display: block;
    font-weight: bold;
    color: black;
}
.content {
    display: inline-flex;
}
.content .details {
    background: #c24b40;
    padding: 1em 5em 0 0;
}
.content .details p {
    padding: 0 0 0 1em;
    color: #fff;
}
.card-body {
    padding: 0.5em;
}
.card-body1 {
    padding: 5em;
}